<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<div>
  <strong>Variants:</strong>
  <% @product.variants.each do |variant| %>
    <br>
    <strong>Name:</strong>
    <%= variant.name %>
  <% end %>
</div>


<%= link_to 'Back', products_path %>
